* {
    margin: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
}

/* banner-section */
.banner-section {
    background: url(../images/banner/banner1.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
}

.banner-content {
    text-align: right;
}

.banner-title {
    width: 47%;
    height: 45px;
    font-weight: 700;
    font-size: 33px;
    line-height: 59px;
    margin-bottom: 24px;
    text-align: right;
    position: absolute;
    right: 76px;
    top: 144px;
}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    width: 487px;
    position: absolute;
    right: 84px;
    top: 341px;
}

.btn-primary {
    position: absolute;
    width: 128px;
    height: 47px;
    right: 84px;
    top: 449px;
    background-color: #F15B22;
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 5px;
}
/*  */
.my-failures-section {
    position: relative;
    width: 100%;
    height: 693px;
}
.my-failures-img img {
    max-width: 400px;
    position: absolute;
    left: 125px;
    top: 100px;
}
.my-failures-title {
    width: 29%;
    height: 31px;
    font-weight: 700;
    font-size: 22px;
    line-height: 40px;
    margin-bottom: 24px;
    text-align: left;
    position: absolute;
    right: 177px;
    top: 264px;
}
.my-failures-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #444343;
    width: 420px;
    position: absolute;
    right: 72px;
    top: 365px;
}
ul.my-failures-list {
    position: absolute;
    left: 541px;
    top: 478px;
}
ul.my-failures-list li {
    list-style: none;
    color: #444343;
    line-height: 24px;
}
span.icon {
    color: #6bd8a0;
    font-size: 20px;
    margin-right: 6px;
}
/*  */
.My-Plans-title{
    text-align: center;
    margin-bottom: 30px;
}
.flex{
    display: flex;
    gap: 60px;
    justify-content: center;
}
.My-Plans-logo-content div{
    text-align: center;
}
.My-Plans-logo-content h4 {
    font-weight: 700;
    font-size: 35px;
    line-height: 35px;
    margin: 15px 0;
}
.My-Plans-logo-content p {
    font-size: 23px;
}