* {
    margin: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
}

/* banner-section on header*/

.banner-section {
    background: url(../images/banner/banner1.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
}

.banner-content {
    text-align: right;
}

.banner-title {
    width: 47%;
    height: 45px;
    font-weight: 700;
    font-size: 33px;
    line-height: 59px;
    margin-bottom: 24px;
    text-align: right;
    position: absolute;
    right: 76px;
    top: 144px;
}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    width: 487px;
    position: absolute;
    right: 84px;
    top: 341px;
}

.btn-primary {
    width: 128px;
    height: 47px;
    background-color: #F15B22;
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    position: absolute;
    top: 449px;
    right: 84px;
}

/* My failures section on main */

.my-failures-section {
    position: relative;
    width: 100%;
    height: 693px;
}

.my-failures-img img {
    max-width: 450px;
    position: absolute;
    left: 63px;
    top: 100px;
}

.my-failures-title {
    width: 29%;
    height: 31px;
    font-weight: 700;
    font-size: 22px;
    line-height: 40px;
    margin-bottom: 24px;
    text-align: left;
    position: absolute;
    right: 177px;
    top: 264px;
}

.my-failures-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #444343;
    width: 420px;
    position: absolute;
    right: 72px;
    top: 365px;
}

ul.my-failures-list {
    position: absolute;
    left: 541px;
    top: 478px;
}

ul.my-failures-list li {
    list-style: none;
    color: #444343;
    line-height: 24px;
}

span.icon {
    color: #6bd8a0;
    font-size: 20px;
    margin-right: 6px;
}

/*go ahead section  */

.go-ahead {
    background-image: url(../images/website\ final\ istockphoto-1295289697-612x612.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-color: rgba(0, 0, 0, 0.336);
    background-blend-mode: multiply;
    width: 100%;
    height: 715px;
    text-align: center;
    color: white;
    position: relative;
    margin: 100px 0;
}

.go-ahead-conten {
    padding-top: 158px;
}

.go-ahead-title {
    font-weight: 700;
    font-size: 77px;
    line-height: 59px;
    margin-bottom: 59px;
}

.go-ahead-subtitle {
    font-weight: 700;
    font-size: 33px;
    line-height: 59px;
    margin-bottom: 13px;
}

.go-ahead-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #edfcfd;
    width: 80%;
    position: absolute;
    left: 103px;
}

.go-ahead-button {
    width: 128px;
    height: 47px;
    background-color: #F15B22;
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    position: absolute;
    top: 469px;
    left: 471px;
}

/* My Plans section */

.My-Plans {
    padding-bottom: 30px;
}

.My-Plans-title {
    text-align: center;
    margin-bottom: 61px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}

.flex {
    display: flex;
    gap: 53px;
    justify-content: center;
}

.My-Plans-logo-content div {
    text-align: center;
}

.My-Plans-logo-content h4 {
    font-weight: 700;
    font-size: 25px;
    line-height: 11px;
    margin: 18px 0;
}

.My-Plans-logo-content p {
    font-size: 18px;
}

/*positive-mindset-section  */

.positive-mindset {
    width: 900px;
    height: 238px;
    background: url(../images/watch.png), url(../images/gradient2.png);
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    background-blend-mode: multiply;
    margin: 70px auto;
    position: relative;
}

h1.content-title {
    width: 54%;
    color: white;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    position: absolute;
    left: 56px;
    top: 35px;
}

.btn-secondary {
    width: 128px;
    height: 47px;
    background-color: white;
    color: #F15B22;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    position: absolute;
    bottom: 40px;
    left: 57px;
}

/* footer section */

footer {
    display: flex;
    gap: 198px;
    background: #151414;
    color: azure;
    height: 200px;
    position: relative;
    align-items: center;
    padding: 126px 0;
    margin-top: 112px;
}

/* footer left */
.footer-left {
    width: 41%;
    margin-left: 72px;
}

.footer-left h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    margin-bottom: 11px;
}

.footer-left p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;
}

.social {
    margin-left: -9px;
}

.social span {
    margin-left: 10px;
}

/* footer right */
.footer-right {
    width: 50%;
    position: absolute;
    right: -105px;
    top: 78px;
}

.footer-right h1 {
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    margin-bottom: 34px;
}

input[type="email"] {
    width: 325px;
    height: 49px;
    border-radius: 10px;
    padding-left: 17px;
    margin-bottom: 12px;
    background: transparent;
    color: white;
    border: 1px solid white;
}

.btn-footer {
    width: 128px;
    height: 47px;
    background-color: white;
    color: #F15B22;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    display: block;
}